<div class="d-flex justify-content-center w-100 align-items-center login-box">
  <form class="login-form px-5 py-5">

    <div class="form-group">
      <h2 style="text-align: center;">Sign In</h2>
    </div>
    <div class="form-group my-4 ">
      <input type="email" class="form-control w-100" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Email">
    </div>
    <div class="form-group my-3">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="d-flex justify-content-center mt-4">
      <a class="btn btn-primary" href="#home-page" style="background-color: #84b870; border-color: #84b870;">Sign
        In</a>
    </div>
    <div class="d-flex justify-content-center mt-1">
      <span style="font-size: 13px;">Do not have an account?<a href="#register-page">Sign Up</a></span>
    </div>
  </form>
</div>