<div class="d-flex justify-content-center w-100 align-items-center register-box">
  <form class="register-form px-5 py-5">

    <h2 style="text-align: center;">Sign Up</h2>

    <div class="d-flex flex-row justify-content-between">
      <div class="form-group my-3">
        <input type="text" class="form-control w-100" id="name" placeholder="Name">
      </div>
      <div class="form-group my-3">
        <input type="text" class="form-control w-100" id="surname" placeholder="Surname">
      </div>
    </div>
    <div class="form-group ">
      <input type="text" class="form-control w-100" id="phoneNumber" placeholder="Phone Number">
    </div>
    <div class="form-group my-3">
      <input type="email" class="form-control w-100" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group my-3">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group my-3">
      <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Repeat Password">
    </div>
    <div class="d-flex justify-content-center mt-4">
      <a class="btn btn-primary" href="#login-page" style="background-color: #84b870; border-color: #84b870;">Sign
        Up</a>
    </div>
    <div class="d-flex justify-content-center mt-1">
      <span style="font-size: 13px;">Already have an account?<a href="#login-page">Sign In</a></span>
    </div>
  </form>
</div>