<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Tour Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="view-tour.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container">
            <a class="navbar-brand" href="#" style="color: white;">Travel&Tour</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white;">Tours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white;">Attractions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white;">My Tours</a>
                    </li>
                </ul>
                <div class="d-flex flex-row align-items-center">
                    <p class="mb-0 me-3" style="color: white;">Andjela Jeftovic</p>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</button>
                </div>
            </div>
        </div>
    </nav>


    <img class="tour-img" src="../assets/8.jpg">

    <div class="container d-flex flex-column justify-content-center w-100">

        <div class=" d-flex justify-content-center w-100 align-items-center">
            <h1 class="form-group mt-5 text-center" style="color: #84b870;">Tour Name</h1>
        </div>

        <div class="row d-flex justify-content-center w-100 my-3 align-items-center">
            <button class="btn justify-content-center mx-2" href="#"
                style="background-color: #84b870; color: white; width: 100px;" data-bs-toggle="modal"
                data-bs-target="#bookTourModal">Book Tour</button>
                <button class="btn justify-content-center mx-2" href="#"
                style="background-color: #84b870; color: white; width: 150px;" data-bs-toggle="modal"
                data-bs-target="#bookListModal">Reservation List</button>
        </div>
        <div class="modal fade" id="bookTourModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalLabel">Book Tour</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="w-100 d-flex flex-column align-items-center justify-content-center my-5 mb-4">
                        <p style="font-size: 18px;">Are you sure you want to book this Tour?</p>
                        <div class="d-flex justify-content-center mt-4">
                            <button type="button" class="btn btn-outline-success btn-close-attraction-modal mx-2"
                                data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary mx-2"
                                style="background-color: #84b870; border-color: #84b870;">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="bookListModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalLabel">Reservation List</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="w-100 d-flex flex-column align-items-center justify-content-center my-5 mb-4 px-4">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Phone Number</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>+ 01 234 567 89</td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>+ 01 234 567 89</td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry</td>
                                <td>+ 01 234 567 89</td>
                              </tr>
                            </tbody>
                          </table>
                        <div class="d-flex justify-content-center mt-4">
                            <button type="button" class="btn btn-outline-success btn-close-attraction-modal mx-2"
                                data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary mx-2"
                                style="background-color: #84b870; border-color: #84b870;">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mt-3 mb-3">
            <h4>12/04/2024 - 14/04/2024</h4>
            <h4 style="color: #84b870;">75BAM</h4>
        </div>
        
        <div class="row d-flex justify-content-center w-100 align-items-center">
            <h4 class="w-75" style="text-align: justify; min-width: 500px;">Lorem ipsum dolor sit amet, consectetur
                adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea
                commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea
                commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea
                commodo consequat.</h4>
        </div>
    </div>

    <div id="carouselExampleCaptions" class="carousel slide my-5 mx-auto">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/2a.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Attraction Name</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/6a.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Attraction Name</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/6.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Attraction Name</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row d-flex justify-content-center w-100 align-items-center">
        <h2 class="form-group my-5 text-center" style="color: #84b870;">Which attractions this tour includes?</h2>
    </div>

    <div class="container w-75">
        <div class="row justify-content-between">
            <div class="card px-0" style="width: 18rem;">
                <img class="card-img-top" src="../assets/2a.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <button href="#" class="btn" style="background-color: #84b870; color: white;">View more</button>
                </div>
            </div>
            <div class="card px-0" style="width: 18rem;">
                <img class="card-img-top" src="../assets/6a.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <button href="#" class="btn" style="background-color: #84b870; color: white;">View more</button>
                </div>
            </div>
            <div class="card px-0" style="width: 18rem;">
                <img class="card-img-top" src="../assets/6.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <button href="#" class="btn" style="background-color: #84b870; color: white;">View more</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="text-center text-lg-start text-dark mt-5 pt-3" style="background-color: #ECEFF1">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Travel&Tour</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #84b870; height: 2px" />
                        <p>
                            Here you can use rows and columns to organize your footer
                            content. Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Useful links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #84b870; height: 2px" />
                        <p>
                            <a href="#!" class="text-dark">Home</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Tours</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Attractions</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #84b870; height: 2px" />
                        <p><i class="fas fa-home mr-3"></i> Sarajevo, Francuske Revolucije BB, Ilidza 71210, BiH</p>
                        <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                        <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2024 Copyright:
            <a class="text-dark">Andjela Jeftovic</a>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="home-page.js"></script>
</body>

</html>